* text=auto
*.bazel text eol=lf
*.bzl text eol=lf
*.cql text eol=lf
*.Dockerfile text eol=lf
*.env text eol=lf
*.fbs text eol=lf
*.go text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.proto text eol=lf
*.rs text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

buf.lock text eol=lf merge=union linguist-generated=true
BUILD text eol=lf
BUILD.bazel text eol=lf
Dockerfile text eol=lf
Cargo.lock text eol=lf merge=union linguist-generated=true
go.mod text eol=lf
go.sum text eol=lf merge=union linguist-generated=true
Taskfile text eol=lf
